
<h3> 154 Website </h3>

<h4>Announcements</h4>
<ul>
<li>
For announcements and student questions, we will be using 
<a href="http://www.piazza.com">Piazza</a> this quarter.  Make an 
account for yourself (if you don't already have one) and joint the class!
Do not post code ever on the public forum - only in private communication
with the TA's or me.
</li>
</ul>
<p><a href="./SyllabusS13.html">Syllabus</a></p>
<p><a href="./AssignmentsS13.html">Schedule and Assignments</a></p>
<p> <a href="../Scheds/S13CS154.html">Office Hour Schedule</a></p>

