<TITLE>CS 154 Lab 4</TITLE>


<h1> CS 154 Lab 4</h1>
Prof. Diana Franklin <br>
<p>

<hr>
<b>Note that there will be a write-up due for this lab, as well.  For 
assessment purposes, we are required to give two writing assignments
and look at the improvement between the two.  I will return your first
lab write-up in class Tuesday, post instructions on how to write it, and 
go over good examples and how to improve other examples on class in 
Tuesday.</b>

<hr>

In this lab, you will add a cache simulato to your program to 
compare several caches on memory accesses.  These will turn into
many, many stalls for your machine.  You
will turn in (C or C++) source code and a makefile that, 
when run, produces the executable expected by your runscript.
 Your script will take the following command-line
arguments: <p>

runscript filename blocksize cachesize1 cachesize2 L1accesstime L2accesstime L1associativity L2associativity misspenalty<p>

<p>The filename is the file that contains the integer values corresponding
to the assembly code.  Note that there is now no "-file" before it.</p>

<p> blocksize is the size, in bytes, of every block in the cache.  
This will apply to all of the caches.</p>

<p> cachesize1 is the size, in bytes, of the level 1 cache. </p>
<p> cachesize2 is the size, in bytes, of the level 2 cache.   This will
be 0 if there is only one cache in the system.</p>
<p>L1accesstime is the time, in cycles, that an L1 access takes</p>
<p>L2accesstime is the time, in cycles, that an L2 access takes</p>
<p>L1associativity is the associativity of the L1 cache</p>
<p>L2associativity is the associativity of the L2 cache</p>
<p>misspenalty is the time, in cycles, that the DRAM takes if it is not
in a cache.</p>


<p>

For all caches simulated:
<ul>
<li> blocksize = command-line argument - a power of 2</li>
<li> total cache size = command-line argument - a power of 2</li>
<li> addresses are 32 bits</li>
<li> LRU replacement policy (you can implement ideal LRU since you are using a simulator)</li>
<li> byte addressable</li>
</ul>

At the end of the simulation, report:
<ul>
<li> The number of references simulated
</li>
<li> The miss rate for each cache (if more than one)
</li>
<li> The average memory access time (AMAT)
</li></ul>

You will be graded both on correctness and the use of bitwise operators 
whenever possible (i.e. if you know you are doing a mod by a power of 2, you 
should be using a mask).

<p>Sample output can be found in: /cs/faculty/franklin/labfiles/154/proj4</p>



<p>Turnin details and sample output coming later.</p>

<h3>Lab Writeup</h3>
Each student (not group) needs to produce an individual write-up.  I
am providing much more detailed instructions on how to produce this kind
of writing. <a href="http://www.cs.ucsb.edu/~franklin/154/writing/howtowriteapitch.txt">Here are the 
details</a>
In class Tuesday, I will return the prior lab writeups with comments. 
In addition, I will present some of the paragraphs along with critiques and
rewritings that would make them even better.  
Like last time, you are writing as if you are the person who has invented
caches, and you want to propose to others that caches should be used in
chips.  Remember that no one else knows what caches are - so you need to sell
the idea of the cache.  Using the term cache (and any other terms) does not
connote meaning unless you explain it.

<hr>

<h3>Turnin Details</h3>
Turn in your project into the proj4 directory.  (turnin proj4@cs154 files)
Also, you can turn in your
writeup separately to the writeup directory.  (turnin writeup@cs154 writeup.txt)
Remember to put your name on your writeup, and it is individual.  
It's okay if you don't read this before then - I'll also look at your normal
submissions for the writeup.

<I>Last updated May 2012 </I>  <br>
<A HREF="mailto:franklin@cs.ucsb.edu">franklin@cs.ucsb.edu</a><p>


