<TITLE>CS 154 Lab 4</TITLE>


<h1> CS 154 Lab 4</h1>
Prof. Diana Franklin <br>
Due Friday, June 4th
<p>

<hr>

In this lab, you will write cache simulation program to
compare several caches on a strided memory access.  You
will turn in (C or C++) source code and a makefile that, when executed,
creates an executable called
"cachesim."  Your executable will take the following command-line
arguments: <p>

cachesim blocksize cachesize inputfile <p>


<p> blocksize is the size, in bytes, of every block in the cache.  This will apply
to all of the caches.</p>

<p> cachesize is the size, in bytes, of the cache.  This will apply to all
of the caches.</p>

<p> input file will be a text file in which every line is a memory address
which will be simulated as a read to your cache (the address will be in
hexadecimal), eg: <p>

1F
<br>D2A
<br>840F

<p>

You will simulate 3 kinds of caches and report statistics on them: <p>

<ul>
<li> a direct-mapped cache</li>
<li> a pseudo-associative cache (2-way)</li>
<li> a 4-way associative cache </li>
</ul>

<p>

For all caches simulated:
<ul>
<li> blocksize = command-line argument - a power of 2</li>
<li> total cache size = command-line argument - a power of 2</li>
<li> addresses are 32 bits</li>
<li> LRU replacement policy (you can implement ideal LRU since you are using a simulator)</li>
<li> byte addressable</li>
<li> cache hit time is 1 cycle for the direct-mapped cache and each of the pseudo
associative caches</li>
<li> cache hit time is 4 cycles for the 4-way associative cache </li>
<li> The miss penalty to DRAM is 100 cycles</li>
</ul>

<p>Your program will report, for each of 3 caches: </p>

<ul>
<li> The number of references simulated
</li>
<li> The miss rate (keep track of 2 kinds of misses for the pseudo-associative cache)
</li>
<li> The average memory access time (AMAT)
</li></ul>

You will be grade both on correctness and the use of bitwise operators 
whenever possible (i.e. if you know you are doing a mod by a power of 2, you 
should be using a mask).

<hr>

<I>Last updated May 2010 </I>  <br>
<A HREF="mailto:franklin@cs.ucsb.edu">franklin@cs.ucsb.edu</a><p>


