<TITLE>CS 154 Project 3</TITLE>


<h1> CS 154 Project 3</h1>
Prof. Diana Franklin <br>

<hr>

<p>
In this lab, you will write cache simulation program to
compare several caches on a strided memory access.  You
will turn in C source code, cachesim.c.  Your code will not have a main.
You should make your own main in a separate file to test your code, but
you will not be turning it in.
</p>

<p> cachesize is the size, in bytes, of the cache.  This will apply to all
of the caches.</p>

<p>

You will simulate 3 kinds of caches and report statistics on them: <p>

<ul>
<li> a direct-mapped cache</li>
<li> a pseudo-associative cache (2-way)</li>
<li> a 4-way associative cache </li>
</ul>

<p>

For all caches simulated:
<ul>
<li> blocksize = command-line argument - a power of 2</li>
<li> total cache size = command-line argument - a power of 2</li>
<li> addresses are 32 bits</li>
<li> LRU replacement policy (you can implement ideal LRU since you are using a simulator)</li>
<li> byte addressable</li>
<li> cache hit time is 1 cycle for the direct-mapped cache and each of the pseudo
associative caches</li>
<li> cache hit time is 3 cycles for the 4-way associative cache </li>
<li> The miss penalty to DRAM is 100 cycles</li>
</ul>

<p>
You will be graded both on correctness and the use of bitwise operators 
whenever possible (i.e. if you know you are doing a mod by a power of 2, you 
should be using a mask).
</p><p>
You need to write the following functions in your C file.
</p><p>
void *createAndInitialize(int blocksize, int cachesize, int type);
<br>
You have a struct that contains all of the information for one cache.
In this function, you create the cache and initialize it, returning a 
pointer to the struct.  Because you are determining the struct, you return
a void * to our main.  Type 0 is a direct-mapped cache.  Type 1 is a
pseudo-associative cache.  Type 2 is a 4-way set associative cache.
</p><p>

int accessCache(void *cache, int address);
<br>
In this function, we access the cache with a particular address.  If the 
address results in a hit, return 1.  If it is a miss, return 0.
</p><p>

int missesSoFar(void *cache);
<br>
This returns the number of misses that have occurred so far
</p><p>

int accessesSoFar(void *cache);
<br>
This returns the number of accesses that have occurred so far
</p><p>

int totalAccessTime(void *cache);
<br>
This returns the total number of cycles that all of the accesses have
taken so far.
</p><p>

<br>Hint:  Start with the direct-mapped cache.  You will learn about the
other caches in the next few lectures.

<hr>

<I>Last updated May 2013 </I>  <br>
<A HREF="mailto:franklin@cs.ucsb.edu">franklin@cs.ucsb.edu</a><p>


