<p>Caches</p>
<ul>
  <li>Given a cache configuration and reference stream, give the hits, misses, and 
cache contents</li>
  <li>Use performance statistics to determine relative performances of different 
cache configurations</li>
  <li>How do different cache configurations (associativity, line size, cache 
  size) affect access time, hit rate, and miss penalty?</li>
  <li>Spatial &amp; Temporal locality - what are they, how are they created, how are 
they used, etc.</li>
  <li>How does the DRAM configuration affect performance and price?</li>
</ul>
<p>Virtual Memory</p>
<ul>
  <li>What is it, why was it created, what does it give the system?</li>
  <li>How is translation performed?</li>
</ul>
<p>Parallel Computing</p>
<ul>
  <li>Why is parallel processing more relevant now than 20 years ago?</li>
  <li>Synchronization - why is it necessary?&nbsp; How is it implemented?</li>
  <li>What is atomicity, and what does it have to do with parallel processing?</li>
  <li>What is false sharing?&nbsp; How can you, the high-level programmer, 
  reduce false sharing?</li>
  <li>What is cache coherence?  How does it work, why is it used, etc.</li>
</ul>

<p> <h2>Guaranteed to be on the test: </h2></p>
<ul>
<li>Cache performance question</li> 
<li>Give the final state of the cache after a certain memory trace.
<li>Amdahl's Law </li>
<li>Pipelining</li>
</ul>

<p> <h2>Guaranteed NOT to be on the test: </h2></p>

<ul>
<li>Tell me what the various parallel processing acronyms mean</li>
<li>Take the following and parallelize it using the shared memory programming 
model</li>
<li>Implement a cache in digital design</li>
</ul>


</body>

</html>
