<b>MicMac</b>
<ul>
<li>Trace the operation of one macrocode instruction through the microcode, including its fetch, decode, and 
all other instructions.</li>
<li>Implement a macrocode instruction in microcode.</li>
<li>Implement, using digital design, MIC-1 with some slight variation</li>
<li>Is this microcode instruction a legal instruction.  If not, why not? (See examples in micmac handout)</li>
<li>Tell the binary bits that this microcode instruction will be translated into</li>
</ul>
