<FONT SIZE = 5>Creating modules in Xilinx </FONT>
<P>
If you create a schematic that you want to be a building 
block in another schematic, do the following:<br>
1.  Implement your module, and put in the input and output markers <br>
2.  Test your module. (Trust me - it is annoying when you make changes to a module that is already being used in another circuit)<br>  
3.  Go to the Project Navigator window<br>
4.  Click on "Design Entry Utilities"<br>
5.  Double-click on "Create Schematic Symbol"<br>
6.  Go to a new schematic, and click on "Symbols."  The second category has your new symbol.





